$blue: #004cc9;
$blue2: #00184F;
$red: #C85177;
$black: #1d1d1d;
$white: #FFFFFF;
$grey: #AAAAAA;
$border: #CFCFCF;
$tag: #D1DFED;
$yellow: #DB9B51;
$green: #B7DACF;

h1 {
  font-size: 2.3em;
  font-weight: 700;
  line-height: 1.4em;
}

h3 {
  font-size: 1.8em;
  font-weight: 800;
  line-height: 1.4em;
}

.bar {
  background: rgba(183, 218, 207, 0.25);
  height: 10px;
}

.logo {
  width: 28%;
}

.header-copy {
  font-size: 1.4em;
  font-weight: 500;
  line-height: 1.8em;
}

.buffer-sm {
  padding: 100px 0;
}

.buffer-lg {
  padding: 200px 0;
}

.portfolio-item {
  width: 100%;
  height: 320px;
}

.portfolio-card {
  background: white;
  border-radius: 8px;
  width: 90%;
  height: 320px;
  cursor: pointer;
  color: #EFF6F3;
  margin-left: auto;
  margin-right: 0;
  -webkit-transition: .3s;
  transition: .3s ease-out;
}

.portfolio-item-title {
  position: absolute;
  z-index: 2;
  margin-top: 240px;
  font-weight: 800;
  color: $green;
  font-size: 3em;
}

.project-type {
  font-weight: 800;
  color: $green;
  opacity: 0.4;
  margin-top: -30px;
}

.portfolio-card:hover {
  color: $green;
  transform: translateY(-4px);
  -webkit-transition: .3s;
  transition: .3s ease-in;
}

.portfolio-card:active {
  transform: translateY(6px);
}

.granary-image {
  background-image: url("../img/granary_hover.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.granary-image:hover {
  background-image: url("../img/granary.png");
}

.cast-image {
  background-image: url("../img/cast.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cast-image:hover {
  background-image: url("../img/cast_hover.png");
}

.hexacon-image {
  background-image: url("../img/hexacon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hexacon-image:hover {
  background-image: url("../img/hexacon_hover.png");
}

.other-image {
  background-image: url("../img/other.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.other-image:hover {
  background-image: url("../img/other_hover.png");
}

.buffer-android {
  padding: 20px 0;
}

.screens {
  height: auto;
  background-color: $green;
}

.murum-bg {
  height: 700px;
  background-color: $green;
  background-image: url("../img/android/murum.png");
  background-position: center;

}

.android-screenshot {
  max-width: 80%;
}

.android-icons {
  width: 90%;
}

.push-md {
  margin-top: 180px;
}

.push-lg {
  margin-top: 320px;
}

/** Links **/

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.4em;
  cursor: pointer;
}

.link-highlight {
  display: inline-block;
  position: relative;
  margin: 0 -4px -8px;
  padding: 0 4px;
  z-index: 10;
  overflow: hidden;
  transition: all 400ms;
}

.link-highlight:before {
  content: "";
  display: block;
  position: absolute;
  background: $green;
  top: 80%;
  bottom: 1px;
  left: 4px;
  right: 4px;
  transform: scale(1, 1);
  transform-origin: center bottom;
  transition: all 400ms;
  pointer-events: none;
  z-index: -1;
}

.link-highlight:hover:before {
  background: black;
  transform: scale(1.2, 2.8);
}

.link-highlight:focus {
  outline-color: rgba(0, 0, 0, 0.1);
  outline-width: 1px;
  outline-offset: -1px;
}

.link-highlight.link-highlight-dribble:hover:before {
  background: #ea4c89;
  transition: all 400ms;
}

.link-highlight.link-highlight-github:hover:before {
  background: #4078c0;
  transition: all 400ms;
}

.link-highlight.link-highlight-twitter:hover:before {
  background: #1da1f2;
  transition: all 400ms;
}

.link-highlight.link-highlight-instagram:hover:before {
  background: #f56040;
  transition: all 400ms;
}

.link-highlight.link-highlight-android:hover:before {
  background: #a4c639;
  transition: all 400ms;
}

.link-highlight.link-highlight-home:hover:before {
  background: $green;
  transition: all 400ms;
}

@media screen and (max-width: 47.9375em) {
  .portfolio-card {
	height: 220px;
  }
  .portfolio-item-title {
	margin-top: 140px;
  }
  .push-md {
	margin-top: 0;
  }
  .logo {
	width: 40%;
  }
}

.svg-icon {
  width: 2.2em;
  height: 2.2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.svg-icon:hover {
  transform: translateY(-2px);
  -webkit-transition: .3s;
  transition: .3s;
}

.svg-icon:active {
  transform: translateY(1px);
  -webkit-transition: .3s;
  transition: .3s;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $green;
}

.svg-icon circle {
  stroke: $green;
  stroke-width: 1;
}

.copy {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.6em;
}

.number {
  font-size: 2.0em;
  font-weight: 800;
  color: $green;
}

.descriptor {
  font-size: 1.0em;
  font-weight: 600;
  margin-top: -10px;
}

ul {
  display: flex;
}

.granary-mockup {
  width: 100%;
  border: 4px solid #F1F1F1;
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.08);
}
