$blue: #004cc9;
$blue2: #00184F;
$red: #C85177;
$black: #1d1d1d;
$white: #FFFFFF;
$grey: #AAAAAA;
$border: #CFCFCF;
$tag: #D1DFED;
$yellow: #DB9B51;
$green: #B7DACF;

h1 {
  font-size: 6.0em;
  font-weight: 800;
}

nav {
  .link-highlight {
	margin-top: 26px;
  }
}

.bar {
  background: rgba(183, 218, 207, 0.25);
  height: 10px;
}

.logo {
  width: 20%;
}

.header-copy {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.8em;
}

.shape1 {
  margin-top: 100px;
}

.shape2 {
  margin-top: -100px;
}

.buffer-sm {
  padding: 100px 0;
}

.buffer-lg {
  padding: 200px 0;
}

.portfolio-item {
  width: 100%;
  height: 320px;
}

.portfolio-card {
  background: white;
  box-shadow: 0 12px 30px 0 rgba(174, 219, 206, 0.16);
  border-radius: 8px;
  width: 90%;
  height: 320px;
  cursor: pointer;
  color: #EFF6F3;
  margin-left: auto;
  margin-right: 0;
  -webkit-transition: .3s;
  transition: .3s ease-out;
}

.portfolio-item-title {
  position: absolute;
  z-index: 2;
  margin-top: 280px;
  font-weight: 800;
  color: $green;
  font-size: 3em;
}

.project-type {
  font-weight: 800;
  color: $green;
  opacity: 0.4;
}

.portfolio-card:hover {
  color: $green;
  box-shadow: 0 12px 30px 0 rgba(174, 219, 206, 0.28);
  transform: translateY(-8px);
  -webkit-transition: .3s;
  transition: .3s ease-in;
}

.granary-image {
  background-image: url("../img/granary.png");
  background-position: center;
  background-repeat: no-repeat;
}

.cast-image {
  background-image: url("../img/cast.png");
  background-position: center;
  background-repeat: no-repeat;
}

.push-md {
  margin-top: 180px;
}

.push-lg {
  margin-top: 320px;
}

.dribbble-icon {
  width: 80px;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.4em;
  cursor: pointer;
}

.link-highlight {
  display: inline-block;
  position: relative;
  margin: 0 -4px -8px;
  padding: 0 4px;
  z-index: 10;
  overflow: hidden;
  transition: all 400ms;
}

.link-highlight:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(183, 218, 207, 0.25);
  top: 60%;
  bottom: 1px;
  left: 1px;
  right: 1px;
  transform: scale(1, 1);
  transform-origin: center bottom;
  transition: all 400ms;
  pointer-events: none;
  z-index: -1;
}

.link-highlight:hover {
  color: white;
}

.link-highlight:hover:before {
  background: black;
  transform: scale(1.2, 2.4);
}

.link-highlight:focus {
  outline-color: rgba(0, 0, 0, 0.1);
  outline-width: 1px;
  outline-offset: -3px;
}

.link-highlight.link-highlight-green:hover:before {
  background: #B7DACF;

}

@media screen and (max-width: 47.9375em) {
  .dribbble-icon {
	width: 40%;
  }
  .portfolio-card {
	height: 220px;
  }
  .portfolio-item-title {
	margin-top: 140px;
  }
  .push-md {
	margin-top: 0;
  }
  .logo {
	width: 40%;
  }
}

.svg-icon {
  width: 2.2em;
  height: 2.2em;
  -webkit-transition: .3s;
  transition: .3s;
}

.svg-icon:hover {
  transform: translateY(-2px);
  -webkit-transition: .3s;
  transition: .3s;
}

.svg-icon:active {
  transform: translateY(1px);
  -webkit-transition: .3s;
  transition: .3s;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: $green;
}

.svg-icon circle {
  stroke: $green;
  stroke-width: 1;
}


