@import "_variables";


html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    margin: 0 auto;
}

.row {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100%;
    max-width: 75rem;
    margin: 30px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

.row--full-width {
    max-width: 100%;
}

*[class*="col-"],
*[class*="sm-col-"],
*[class*="md-col-"],
*[class*="flex-basis-"],
.col {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    position: relative;
    box-sizing: border-box;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    min-width: 0;
}

.col-1 {
    -ms-flex-preferred-size: 8.33333%;
    flex-basis: 8.33333%;
}

.col-2 {
    -ms-flex-preferred-size: 16.66667%;
    flex-basis: 16.66667%;
}

.col-3 {
    -ms-flex-preferred-size: 25.0%;
    flex-basis: 25.0%;
}

.col-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
}

.col-5 {
    -ms-flex-preferred-size: 41.66666%;
    flex-basis: 41.66666%;
}

.col-6 {
    -ms-flex-preferred-size: 50.0%;
    flex-basis: 50.0%;
}

.col-7 {
    -ms-flex-preferred-size: 58.33333%;
    flex-basis: 58.33333%;
}

.col-8 {
    -ms-flex-preferred-size: 66.66666%;
    flex-basis: 66.66666%;
}

.col-9 {
    -ms-flex-preferred-size: 75.0%;
    flex-basis: 75.0%;
}

.col-10 {
    -ms-flex-preferred-size: 83.33333%;
    flex-basis: 83.33333%;
}

.col-11 {
    -ms-flex-preferred-size: 91.66666%;
    flex-basis: 91.66666%;
}

.col-12 {
    -ms-flex-preferred-size: 100.0%;
    flex-basis: 100.0%;
}

.horizontal-full {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    overflow-x: auto;
}

.horizontal-in {
    display: flex;
    width: 100%;
    min-height: 100px;
    overflow-x: auto;
}

.horizontal-content {
    min-width: 100%;
}

.hide {
    display: none !important;
}

.sm-only {
    display: none !important;
}

.md-only {
    display: none !important;
}

.lg-only {
    display: -ms-flexbox !important;
    display: flex !important;
}

@media screen and (min-width: 47.9375em) and (max-width: 64em) {
    .sm-only {
        display: none !important;
    }
    .md-only {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .lg-only {
        display: none !important;
    }
    .md-hide {
        display: none !important;
    }
    .md-hide-down {
        display: none !important;
    }
}

@media screen and (max-width: 47.9375em) {
    .sm-only {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .md-only {
        display: none !important;
    }
    .lg-only {
        display: none !important;
    }
    .sm-hide {
        display: none !important;
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@media screen and (max-width: 64em) {
    .md-text-left {
        text-align: left;
    }
    .md-text-center {
        text-align: center;
    }
    .md-text-right {
        text-align: right;
    }
    .md-col-center {
        margin: 0 auto;
    }
}

@media screen and (max-width: 47.9375em) {
    .sm-text-left {
        text-align: left;
    }
    .sm-text-center {
        text-align: center;
    }
    .sm-text-right {
        text-align: right;
    }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  clear: both;
  flex-direction: column;
}

.center-row {
  display: flex;
  justify-content: space-between;
  clear: both;
  flex-direction: row;
}



/* Backgrounds */

.bg-blue {
    background-color: $blue;
}

.bg-blue2 {
    background-color: $blue2;
}

.bg-red {
    background-color: $red;
}

.bg-white {
    background-color: $white;
}

.bg-grey {
    background-color: $grey;
}

.bg-black {
    background-color: $black
}


/* Colors */

.blue {
    color: $blue;
}

.blue2 {
    color: $blue2;
}

.red {
    color: $red;
}

.white {
    color: $white;
}

.grey {
    color: $grey;
}

.black {
    color: $black;
}
